@font-face {
  font-family: 'Maru Buri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/MaruBuri-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/SUIT-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/SUIT-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/SUIT-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/SUIT-Bold.woff2') format('woff2');
}
